[Desktop Entry]
Version=1.0
Type=Application

Name=Lipl Control
Comment=Maintaining lyrics and playlists
Categories=Utility;Amusement;

Icon=nl.paulmin.lipl.Control
Exec=lipl_control
Terminal=false
StartupWMClass=lipl_control
